\Bool : Type.
\T : Bool.
\F : Bool.

\Nat : Type.
\Z : Nat.
\S : (n :L Nat) -> Nat.

\Vect : (n : Nat) -> (a : Type) -> Type.
\Nil : (a : Type) -> Vect Z a.
\Cons : (a : Type) -> (n : Nat) -> (x :L a) -> (xs :L Vect n a) -> Vect (S n) a.

\b : Bool.

Cons Bool (S (S Z)) T
  (Cons Bool (S Z) b
    (Cons Bool Z F
      (Nil Bool)))
